.navbar{
	background-color: #EFEFFB;
}

.quem-somos{
	background-color: #ECE0F8;
	color: white;
}

.margim{
	padding-top: 30px;
	padding-bottom: 50px;
}
.parceiros{
 background-color: #D8F781; 
}

.bg-footer{
	background-color: black;
	color: white;
}